---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=314&card[exp_month]=7&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18X2mD4AnjI1zHWBmvbuOgpz",
          "object": "token",
          "card": {
            "id": "card_18X2mD4AnjI1zHWB2ZPVmK7j",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.131.61.23",
          "created": 1468475569,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Jul 2016 05:52:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gregoria%40lang.info&source=tok_18X2mD4AnjI1zHWBmvbuOgpz
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8og87XK4Rq02X6",
          "object": "customer",
          "account_balance": 0,
          "created": 1468475569,
          "currency": null,
          "default_source": "card_18X2mD4AnjI1zHWB2ZPVmK7j",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gregoria@lang.info",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18X2mD4AnjI1zHWB2ZPVmK7j",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8og87XK4Rq02X6",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8og87XK4Rq02X6/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8og87XK4Rq02X6/subscriptions"
          }
        }
  recorded_at: Thu, 14 Jul 2016 05:52:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "valor",
              "object": "product",
              "active": true,
              "attributes": [],
              "caption": null,
              "created": 1468467986,
              "deactivate_on": [],
              "description": null,
              "images": [],
              "livemode": false,
              "metadata": {},
              "name": "Team Valor Stickers",
              "package_dimensions": null,
              "shippable": true,
              "skus": {
                "object": "list",
                "data": [
                  {
                    "id": "sku_8oe6ZiYP4yRfVx",
                    "object": "sku",
                    "active": true,
                    "attributes": {},
                    "created": 1468468014,
                    "currency": "usd",
                    "image": null,
                    "inventory": {
                      "quantity": null,
                      "type": "infinite",
                      "value": null
                    },
                    "livemode": false,
                    "metadata": {},
                    "package_dimensions": null,
                    "price": 550,
                    "product": "valor",
                    "updated": 1468468014
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/skus?product=valor\u0026active=true"
              },
              "updated": 1468468022,
              "url": null
            },
            {
              "id": "instinct",
              "object": "product",
              "active": true,
              "attributes": [],
              "caption": null,
              "created": 1468467959,
         [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/orders
    body:
      encoding: UTF-8
      string: currency=usd&customer=cus_8og87XK4Rq02X6&items[][parent]=sku_8oe6ZiYP4yRfVx&items[][quantity]=5&items[][type]=sku&shipping[address][line1]=45+Plumb+Branch+Road+New+Lenox%2C+IL+60451&shipping[name]=Frank
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "or_18X2mE4AnjI1zHWBrAyFLKN1",
          "object": "order",
          "amount": 3025,
          "amount_returned": null,
          "application": null,
          "application_fee": null,
          "charge": null,
          "created": 1468475570,
          "currency": "usd",
          "customer": "cus_8og87XK4Rq02X6",
          "email": "gregoria@lang.info",
          "items": [
            {
              "object": "order_item",
              "amount": 2750,
              "currency": "usd",
              "description": "Team Valor Stickers",
              "parent": "sku_8oe6ZiYP4yRfVx",
              "quantity": 5,
              "type": "sku"
            },
            {
              "object": "order_item",
              "amount": 275,
              "currency": "usd",
              "description": "Sales Tax",
              "parent": null,
              "quantity": null,
              "type": "tax"
            }
          ],
          "livemode": false,
          "metadata": {},
          "returns": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/order_returns?order=or_18X2mE4AnjI1zHWBrAyFLKN1"
          },
          "selected_shipping_method": null,
          "shipping": {
            "address": {
              "city": null,
              "country": null,
              "line1": "45 Plumb Branch Road New Lenox, IL 60451",
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "carrier": null,
            "name": "Frank",
            "phone": null,
            "tracking_number": null
          },
          "shipping_methods": [],
          "status": "created",
          "status_transitions": null,
          "updated": 1468475570
        }
  recorded_at: Thu, 14 Jul 2016 05:52:49 GMT
recorded_with: VCR 3.0.3
