<section id="basic-1-11" class="basic-1-11 content-block">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h2>Quality</h2>
        <p>The stickers are die cut from a thick, durable, vinyl that has a UV protective laminate. This makes each sticker resistant to scratches and fading. The stickers are even dishwasher safe.</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h2>Taxes & Shipping</h2>
        <p>The listed price includes sales tax and shipping within the continental united states. We will contact you to approve any extra fees that may apply.</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h2>Turnaround</h2>
        <p>Our expected turnaround time is about seven business days. Due to high volume of orders we can not give an accurate estimate. We will not charge your account until we are ready to process your order.</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <h2>Support</h2>
        <p>Please contact us at
          <%= mail_to 'pokegraffiti@gmail.com' %>.</p>
      </div>

    </div>
  </div>
</section>
