<section class="content-block gallery-1">
  <div class="container">

    <div class="underlined-title">
      <h1>In the Wild</h1>
      <hr>
      <h5>Share your favorite of tags, paint or stickers, on Twitter @PokeGraffiti</h5>
    </div>

    <div class="row">
      <div id="isotope-gallery-container">

        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
          <div class="gallery-item">
            <div class="gallery-thumb">
              <%= image_tag('filler', class: 'img-responsive gallery-image', width: '100%', height: '100%', style: "background-image: url(#{asset_path('all-01')})") %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
          <div class="gallery-item">
            <div class="gallery-thumb">
              <%= image_tag('filler', class: 'img-responsive gallery-image', width: '100%', height: '100%', style: "background-image: url(#{asset_path('valor-01')})") %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
          <div class="gallery-item">
            <div class="gallery-thumb">
              <%= image_tag('filler', class: 'img-responsive gallery-image', width: '100%', height: '100%', style: "background-image: url(#{asset_path('mystic-01')})") %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
          <div class="gallery-item">
            <div class="gallery-thumb">
              <%= image_tag('filler', class: 'img-responsive gallery-image', width: '100%', height: '100%', style: "background-image: url(#{asset_path('instinct-01')})") %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
