<section class="content-block pricing-table-2">
  <div class="container">

    <div class="underlined-title">
      <h1>It's Time to Show the World Where You Stand!</h1>
      <hr>
      <h2>Make your mark
      </h2>
    </div>

    <div class="row">
      <div class="tables-row">
        <div class="col-md-4 price-block">
          <header>
            <%= image_tag "instinct-sticker.png", class: 'img-responsive', style: 'background-size: contain;' %>
            <h2>Instinct</h2>
          </header>

          <div class="features text-center">
            <p>You heard Battery Bird's call and took up the cause. It's now time for you to share his noble message with the world using our 3" x 2.77" die cut vinyl stickers.</p>

            <form class="form-horizontal">
              <div class="row">
                <div class="form-group">
                  <label for="instinct-quantity" class="col-sm-4 control-label">Quantity</label>
                  <div class="col-sm-6">
                    <select id="instinct-quantity" class="form-control">
                      <option value="1">5 - $5.50</option>
                      <option value="2">10 - $10.00</option>
                      <option value="4">20 - $18.00</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>

            <button id="checkout_instinct" type="button" class="btn btn-success">Buy Now</button>
          </div>
        </div>

        <div class="col-md-4 price-block">
          <header>
            <%= image_tag "valor-sticker.png", class: 'img-responsive', style: 'background-size: contain;' %>
            <h2>Valor</h2>
          </header>

          <div class="features text-center">
            <p>Tired of Team Mystic rolling through your gym like they own the place? Show them who's boss by marking your territory with these 3" x 3" die cut Team Valor stickers.</p>

            <form class="form-horizontal">
              <div class="row">
                <div class="form-group">
                  <label for="valor-quantity" class="col-sm-4 control-label">Quantity</label>
                  <div class="col-sm-6">
                    <select id="valor-quantity" class="form-control">
                      <option value="1">5 - $5.50</option>
                      <option value="2">10 - $10.00</option>
                      <option value="4">20 - $18.00</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>

            <button id="checkout_valor" type="button" class="btn btn-success">Buy Now</button>
          </div>
        </div>

        <div class="col-md-4 price-block">
          <header>
            <%= image_tag "mystic-sticker.png", class: 'img-responsive', style: 'background-size: contain;' %>
            <h2>Mystic</h2>
          </header>

          <div class="features text-center">
            <p>Team Valor not paying attention to your philosophical rants? Confuse them with our high tech, gravity defying, dishwasher safe, 2.84" x 3" die cut vinyl stickers!</p>

            <form class="form-horizontal">
              <div class="row">
                <div class="form-group">
                  <label for="mystic-quantity" class="col-sm-4 control-label">Quantity</label>
                  <div class="col-sm-6">
                    <select id="mystic-quantity" class="form-control">
                      <option value="1">5 - $5.50</option>
                      <option value="2">10 - $10.00</option>
                      <option value="4">20 - $18.00</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
            <button id="checkout_mystic" type="button" class="btn btn-success">Buy Now</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
