<section class="content-block full-page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="text-center">Awesome!</h1>
                        <p class="text-center">Your order has been submitted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
