<section class="content-block full-page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="text-center">500 - Internal Server Error</h1>
                        <p class="text-center">Don't worry. Someone is coming to wake me up, so that I can fix this.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
