---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=314&card[exp_month]=7&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18WkvO4AnjI1zHWBOem9Dcfn",
          "object": "token",
          "card": {
            "id": "card_18WkvO4AnjI1zHWBUbkEbVbc",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.131.61.23",
          "created": 1468406946,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 13 Jul 2016 10:49:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=raul_considine%40leannonglover.co&source=tok_18WkvO4AnjI1zHWBOem9Dcfn
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8oNgTDxdx0WJGN",
          "object": "customer",
          "account_balance": 0,
          "created": 1468406946,
          "currency": null,
          "default_source": "card_18WkvO4AnjI1zHWBUbkEbVbc",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "raul_considine@leannonglover.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18WkvO4AnjI1zHWBUbkEbVbc",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8oNgTDxdx0WJGN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8oNgTDxdx0WJGN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8oNgTDxdx0WJGN/subscriptions"
          }
        }
  recorded_at: Wed, 13 Jul 2016 10:49:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=500&capture=false&currency=usd&customer=cus_8oNgTDxdx0WJGN&description=5+Team+Valor+Die+Cut+Sticker&metadata[email]=raul_considine%40leannonglover.co&metadata[sticker_quantity]=5&metadata[sticker_type]=valor&receipt_email=raul_considine%40leannonglover.co&statement_descriptor=Team+Valor+Stickers
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18WkvP4AnjI1zHWBF2cMs2Dl",
          "object": "charge",
          "amount": 500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1468406947,
          "currency": "usd",
          "customer": "cus_8oNgTDxdx0WJGN",
          "description": "5 Team Valor Die Cut Sticker",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "raul_considine@leannonglover.co",
            "sticker_quantity": "5",
            "sticker_type": "valor"
          },
          "order": null,
          "paid": true,
          "receipt_email": "raul_considine@leannonglover.co",
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18WkvP4AnjI1zHWBF2cMs2Dl/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18WkvO4AnjI1zHWBUbkEbVbc",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8oNgTDxdx0WJGN",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": "Team Valor Stickers",
          "status": "succeeded"
        }
  recorded_at: Wed, 13 Jul 2016 10:49:06 GMT
recorded_with: VCR 3.0.3
